input, textarea, select, option {
  font-size: 13px;
}

form .btn {
  font-size: 13px;
  background: #425778;
  color: white;
}

form .form-text {
  color: red;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

@media only screen and (min-width: 768px) {
  input, textarea, select, form .btn {
    font-size: 14px;
  }

  form .btn-block {
    width: 90px;
  }
}
