<form class="mx-2 py-2">
  <h5 class="text-center pb-2">Advising Form</h5>
  <div class="form-row my-2">
    <div class="col-md-6">
      <input type="text" class="form-control mb-2 mb-md-0" id="formGroupExampleInput" placeholder="First name">
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Last name">
    </div>
  </div>
  <div class="form-row my-2">
    <div class="col-md-6">
      <input type="text" class="form-control mb-2 mb-md-0" id="formGroupExampleInput" placeholder="Phone number">
    </div>
    <div class="col-md-6">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">*We'll never share your email with anyone else.</small>
    </div>
  </div>
  <div class="form-group">
    <select id="inputStudyLevel" class="form-control">
      <option selected>Intended level of study study</option>
      <option>High School</option>
      <option>Undergraduate</option>
      <option>Masters Degree</option>
      <option>PhD</option>
    </select>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Which Program You are planning to apply?">
  </div>
  <div class="form-group">
    <textarea class="form-control" id="formGroupExampleInput" name="message" placeholder="Message" rows="4" maxlength="200" [(ngModel)]="charCount"></textarea>
    <span class="float-right text-muted"><small> {{ charCount.length }}/200</small></span>
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
