<div class="container-fluid py-2 py-md-3">
  <div class="row px-1">
    <div class="col-md-4 col-sm-12 px-2 py-1 py-sm-2 py-md-0" *ngFor="let item of studyAbroad.slice(0, 3); let i = index;">
      <div class="card shadow">
        <img class="card-img-top mb-0" [src]="item.imgURL" [alt]="item.alt">
        <div class="card-body px-2 pt-1">
          <h6 class="card-title d-inline-block"> {{ item.title | shorten:40 }} </h6>
          <p class="card-text text-justify"> {{ item.content | shorten:190 }} </p>
          <div class="text-center">
            <a class="btn btn-primary" routerLink="/news-events">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
