<div class="container-fluid">
  <div class="row mt-1">
    <div class="col-md-4 col-sm-12 px-2" *ngFor="let item of items">
      <div class="card">
        <img class="card-img-top mb-0" [src]="item.imgURL" [alt]="item.alt">
        <div class="card-body px-2 pt-1">
          <h6 class="card-title d-inline-block"> {{ item.title }} </h6>
          <p class="card-text text-justify"> {{ item.text }} </p>
          <div class="text-center">
            <a class="btn btn-primary" [routerLink]="item.url">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
