div.container-fluid {
  width: 100vw;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

div.card {
  min-height: 350px;
  background-color: #f3f3f3e0;
  border-color: #f3f3f3e0;
}

a.btn {
  background-color: #425778;
  border-color: #425778;
  color: white;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  div.container-fluid {
    width: 95vw;
  }

  img {
    height: 280px;
  }
}

@media only screen and (min-width: 768px) {
  div.container-fluid {
    width: 90vw;
  }

  img {
    height: 300px;
  }

  div.card {
    min-height: 450px;
  }
}
