<div class="container-fluid">
  <div class="row mb-2 pt-1 mx-0 d-flex flex-row my-color justify-content-center">
    <div class="col-md-4 px-5">
      <div class="row mt-5 d-flex flex-row bg-dark">
        <div class="col-md-3 my-auto">
          <p class="card-text mt-0 mb-0 text-center"><small>DEC</small></p>
          <p class="card-text mt-0 mb-0 text-center font-weight-bold">24</p>
          <p class="card-text mt-0 mb-0 text-center"><small>2020</small></p>
        </div>
        <div class="col-md-9">
          <div class="mb-0 mt-2 text-muted"><small>ONLINE EVENT</small></div>
          <p class="mb-0">Hello</p>
          <p class="mb-0">High School Students</p>
          <p class="mb-3"><a routerLink="/news-events">Click Here to Register</a></p>
        </div>
      </div>
      <div class="row mt-1 mb-5 bg-dark">
        <div class="col-md-3 my-auto">
          <p class="card-text mt-0 mb-0 text-center"><small>DEC</small></p>
          <p class="card-text mt-0 mb-0 text-center font-weight-bold">24</p>
          <p class="card-text mt-0 mb-0 text-center"><small>2020</small></p>
        </div>
        <div class="col-md-9">
          <div class="mb-0 mt-2 text-muted"><small>ONLINE EVENT</small></div>
          <p class="mb-0">Hello</p>
          <p class="mb-0">High School Students</p>
          <p class="mb-3"><a routerLink="/news-events">Click Here to Register</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-7 px-5 my-auto">
      <h3>"Knowledge is very important. You can get quality knowledge from very prestigous universities throughout the world. Join us for a better future."</h3>
      <p class="float-right">By Someone</p>
    </div>
  </div>

</div>
