.carousel {
  width: 90%;
  margin: auto;
}

.carousel-item img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.btn {
  background-color: #425778;
  border-color: #425778;
  color: white;
}
