<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Consultancy Company</h4>
            <p>We provide the best services. We provide the best services.We provide the best services.We provide the best services.</p>
          </div>
        </div>
          <div class="col-md-3 col-sm-6 text-center">
          <!--Column2-->
          <div class="footer-pad">
            <h4>Quick Links</h4>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">News & Events</a></li>
              <li><a href="#">Library</a></li>
              <li><a href="#">Classes</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <!--Column3-->
          <div class="footer-pad">
            <h4>Heading 3</h4>
            <ul class="list-unstyled">
              <li><a href="#">Address</a></li>
              <li><a href="#">Contact Number</a></li>
              <li><a href="#">Email</a></li>
            </ul>
          </div>
        </div>
    	  <div class="col-md-3 text-center">
    		  <h4>Follow Us</h4>
          <ul class="social-network social-circle">
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoFacebook" title="Instagram"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
		    </div>
      </div>
	    <div class="row">
		    <div class="col-md-12 copy">
			    <p class="text-center">&copy; Copyright 2020 - Company Name.  All rights reserved.</p>
		    </div>
	    </div>
    </div>
  </div>
</footer>
