<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container-fluid">
      <div class="row mx-0 justify-content-center">
        <div class="col-md-4 col-sm-6 px-3">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Consultancy Company</h4>
            <p>We provide the best services. We provide the best services.We provide the best services.We provide the best services. We provide the best services. We provide the best services.We provide the best services.We provide the best services.</p>
          </div>
        </div>
          <div class="col-md-2 col-sm-6 px-3">
          <!--Column2-->
          <div class="footer-pad">
            <h4>Quick Links</h4>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">News & Events</a></li>
              <li><a href="#">Library</a></li>
              <li><a href="#">Classes</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 px-3">
          <!--Column3-->
          <div class="footer-pad">
            <h4>Contact US:</h4>
            <ul class="list-unstyled">
              <li><a href="#">Address: Kart-e 3, Kabul, Afghanistan</a></li>
              <li><a href="#">Contact Number: +93798675430</a></li>
              <li><a href="#">Email: webapp@consultancy.af</a></li>
            </ul>
          </div>
        </div>
    	  <div class="col-md-2 px-3 text-center">
    		  <h4>Follow Us</h4>
          <ul class="social-network social-circle">
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoFacebook" title="Instagram"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
		    </div>
      </div>
	    <div class="row">
		    <div class="col-md-12 px-2 copy">
			    <p class="text-center">&copy; Copyright 2020 - Company Name.  All rights reserved.</p>
		    </div>
	    </div>
    </div>
  </div>
</footer>
