.container-fluid {
  width: 90%;
}

.row {
  background-color: #f3f3f3e0;
}

div > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card {
  min-height: 500px;
  background-color: #f3f3f3e0;
  border-color: #f3f3f3e0;
}

h4 {
  color: #425778;
}

.btn {
  background-color: #425778;
  border-color: #425778;
  color: white;
}
