<nav class="navbar navbar-expand-lg navbar-light primary">
  <a class="navbar-brand mb-0 h1 text-white " routerLink="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/library">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/news-events">News & Events</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Classes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/classes">TOEFL iBT</a>
          <a class="dropdown-item" routerLink="/classes">GRE</a>
          <a class="dropdown-item" routerLink="/classes">SAT</a>
          <a class="dropdown-item" routerLink="/classes">Academic English</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/toefl-ibt">TOEFL iBT Test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/about">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
