a {
  color: #425778;
}

img.lg-img {
  height: 200px;
  object-fit: cover;
}

img.sm-img {
  height: 175px;
  object-fit: cover;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  img.lg-img {
    height: 280px;
  }
}

@media only screen and (min-width: 768px) {
  .lg-h5 {
    font-size: 28px;
  }

  img.lg-img {
    height: 360px;
  }
}
