<h5 class="text-center py-0 py-md-2">Search Here for Books</h5>
<input class="form-control my-3" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="search">
<div class="card flex-row" *ngFor="let book of books | filter:search:'name'; let i = index;">
  <img class="rounded" [src]="book.imgURL" [alt]="book.alt">
  <div class="card-body">
    <p class="mb-0"><span class="font-weight-bold">Name: </span> {{ book.name }} </p>
    <p class="mb-0"><span class="font-weight-bold">Number: </span> {{ book.number }} </p>
    <p class="mb-0"><span class="font-weight-bold">Edition: </span> {{ book.edition }} </p>
  </div>
</div>
