input {
  width: 100%;
}

div.card {
  border-color: white;
}

div.card img {
  width: 90px;
  height: 100px;
  object-fit: cover;
}

p {
  font-size: 15px;
  line-height: 18px;
}

@media only screen and (min-width: 600px) {
  p {
    font-size: 16px;
    line-height: 22px;
  }
}
