<app-library-images></app-library-images>
<div class="container-fluid">
  <div class="row pt-4 pb-4">
    <div class="col-md-9 col-sm-12">
      <h5 class="text-center"> Our Library </h5>
      <p class="text-justify"> {{ mainText }} </p>
      <h6>A Quiet Learning Environment</h6>
      <p class="text-justify"> {{ secondaryText }} </p>
      <p class="font-weight-bold d-inline-block mb-0">Working Hours: </p>
      <p class="d-inline-block"> 8:00 am - 5:00 pm from Saturday - Thrusday</p>
      <app-quick-links-library></app-quick-links-library>
    </div>
    <div class="col-md-3 col-sm-12">
      <app-search-book></app-search-book>
    </div>
  </div>
</div>
