<app-library-images></app-library-images>
<div class="container-fluid">
  <div class="row py-4 px-0 px-md-3">
    <div class="col-md-9 col-sm-12">
      <h5 class="text-center py-2"> Our Library </h5>
      <p class="text-justify pb-2"> {{ mainText }} </p>
      <h6>A Quiet Learning Environment</h6>
      <p class="text-justify pb-2"> {{ secondaryText }} </p>
      <p><span class="font-weight-bold">Working Hours: </span> 8:00 am - 5:00 pm from Saturday - Thrusday</p>
      <app-quick-links-library></app-quick-links-library>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-3 mx-auto">
      <app-search-book></app-search-book>
    </div>
  </div>
</div>
