<div class="row pt-2 px-0 px-sm-3 px-md-3 justify-content-center">
  <div class="col-xs-12 col-sm-6 col-md-6 px-2 px-sm-1 px-md-1 py-1" *ngFor="let item of news.slice(0,4); let i = index;">
    <div class="card shadow-sm">
      <img class="card-img-top flex-auto small-image" [src]="item.imgURL" [alt]="item.alt">
      <div class="card-body py-1 px-2">
        <h6 class="card-title mb-2"> {{ item.title | shorten:30 }} </h6>
        <p class="card-text sm-card mb-2 text-justify">
          {{ item.content | shorten:150 }}
          <a class="font-weight-bold" routerLink="/news-events"> Read More </a>
        </p>
      </div>
    </div>
  </div>
</div>
