.card .card-body p {
  font-size: 13px;
  line-height: 17px;
}

.card .card-body a {
  color: black;
  font-size: 13px;
  text-decoration: none;
}

.card img {
  max-height: 140px;
  width: 100%;
  object-fit: cover;
}
