<div class="card">
  <div class="card-body px-2 px-md-3">
    <p><span class="font-weight-bold">Full Name: </span> {{ data.firstName }} {{ data.lastName }} </p>
    <p><span class="font-weight-bold">Phone Number: </span> {{ data.phoneNumber }} </p>
    <p><span class="font-weight-bold">Email: </span> {{ data.email }} </p>
    <p><span class="font-weight-bold">Study Level: </span> {{ data.studyLevel }} </p>
    <p><span class="font-weight-bold">Program: </span> {{ data.program }} </p>
    <p><span class="font-weight-bold">Message: </span> {{ data.message }} </p>
  </div>
</div>
