<nav>
  <div class="nav nav-tabs text-center mt-1" id="nav-tab" role="tablist">
    <a class="nav-item nav-link px-0 active" id="nav-toefl-tab" data-toggle="tab" href="#nav-toefl" role="tab" aria-controls="nav-toefl" aria-selected="true">TOEFL iBT</a>
    <a class="nav-item nav-link px-0" id="nav-ielts-tab" data-toggle="tab" href="#nav-ielts" role="tab" aria-controls="nav-ielts" aria-selected="false">IELTS</a>
    <a class="nav-item nav-link px-0" id="nav-sat-tab" data-toggle="tab" href="#nav-sat" role="tab" aria-controls="nav-sat" aria-selected="false">SAT</a>
    <a class="nav-item nav-link px-0" id="nav-gre-tab" data-toggle="tab" href="#nav-gre" role="tab" aria-controls="nav-gre" aria-selected="false">GRE</a>
    <a class="nav-item nav-link px-0" id="nav-english-tab" data-toggle="tab" href="#nav-english" role="tab" aria-controls="nav-english" aria-selected="false">Academic English</a>
  </div>
</nav>
<div class="tab-content pt-1 pt-md-2 px-3 px-md-4" id="nav-tabContent">
  <div
    class="tab-pane fade pt-2 show"
    [id]="item.tabId"
    role="tabpanel"
    aria-labelledby="nav-toefl-tab"
    *ngFor="let item of classes; let isFirst = first"
    [ngClass]="{active: isFirst}">
      <h5 class="text-center pb-2"> {{ item.name }} </h5>
      <h6>Course Content</h6>
      <p class="text-justify"> {{ item.desc }} </p>
      <h6>Topics Covered</h6>
      <ul>
        <li  *ngFor="let topic of item.topics;"> {{ topic }} </li>
      </ul>
      <h6>Class Schedulale</h6>
      <ul>
        <li *ngFor="let schedule of item.schedule;"> {{ schedule }} </li>
      </ul>
      <h6>Instructor</h6>
      <p> {{ item.instructor }} </p>
  </div>
</div>
