<div *ngFor="let item of news; let i = index;">
  <div class="card flex-md-row my-2 shadow-sm">
    <img class="news-img rounded flex-auto d-md-none" [src]="item.imgURL">
    <img class="news-img rounded flex-auto d-none d-md-block" [src]="item.imgURL" *ngIf="i % 2 != 0">
    <div class="card-body align-items-start px-2 px-md-3 py-1 py-md-4">
      <h5 class="mb-2"> {{ item.title }} </h5>
      <div class="mb-2 text-muted date-text"> {{ item.date }} </div>
      <p class="card-text my-text text-justify mb-0"> {{ item.content }} </p>
      <a routerLink="" class="font-weight-bold">Continue Reading</a>
    </div>
    <img class="news-img rounded flex-auto d-none d-md-block" [src]="item.imgURL" *ngIf="i % 2 == 0">
  </div>
  <div class="d-md-none" *ngIf="i % 2 != 0">
    <div class="row rounded mx-0 mb-1 d-flex flex-row bg-color" *ngFor="let j = index; let item of events.slice(i-1,i+1);">
      <div class="col-3 my-auto">
        <p class="card-text mt-0 mb-0 text-center"><small> {{ item.month }} </small></p>
        <p class="card-text mt-0 mb-0 text-center font-weight-bold"> {{ item.day }} </p>
        <p class="card-text mt-0 mb-0 text-center"><small> {{ item.year }} </small></p>
      </div>
      <div class="col-9">
        <div class="mb-0 mt-2 text-white"><small> {{ item.type }} </small></div>
        <p class="mb-0 event-title"> {{ item.title }} </p>
        <p class="mb-0"> {{ item.category }} </p>
        <p class="mb-0"> {{ item.time }} </p>
        <p class="mb-3"><a class="text-white" [routerLink]="item.url"> {{ item.register }} </a></p>
      </div>
    </div>
  </div>
</div>
