.bg-color {
  background: #425778;
  color: white;
}

a {
  color: #425778;
  text-decoration: none;
  font-size: 13px;
}

.news-img {
  height: 150px;
  max-width: 100%;
  object-fit: cover;
}

p {
  font-size: 13px;
  line-height: 18px;
}

.text-muted {
  font-size: 13px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .news-img {
    height: 200px;
    max-width: 220px;
  }
}

@media only screen and (min-width: 768px) {
  h5 {
    font-size: 28px;
  }

  .news-img {
    height: 300px;
    max-width: 300px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }

  a {
    font-size: 16px;
  }

  .text-muted {
    font-size: 16px;
  }
}
