p {
  font-size: 13px;
  line-height: 17px;
}

img.card-image {
  max-height: 120px;
  max-width: 160px;
  object-fit: cover;
}

@media only screen and (min-width: 678px) {
  img.card-image {
    max-height: 150px;
    max-width: 200px;
  }
}
