<div class="row mb-2 pt-2 justify-content-center">
  <h3>Latest News</h3>
</div>
<div class="container-fluid">
  <div class="row mx-0 d-flex flex-row my-row">
    <div class="col-lg-6 col-md-12 px-1">
      <div class="card">
        <img class="card-img-top flex-auto my-image" src="../../../assets/images/news1.JPG" alt="Card image cap">
        <div class="card-body pt-1 pb-1">
          <h4 class="card-title mb-1 text-center">Card title</h4>
          <p class="card-text mb-1">
            This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content.
          </p>
          <div class="d-inline-block font-weight-bold"><a routerLink="/news-events">Continue Reading</a></div>
          <div class="text-muted d-inline-block float-right"><small>Nov 12</small></div>
          <div class="mt-2 mb-2 d-lg-none font-weight-bold text-center"><a routerLink="/news-events">View All</a></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 px-1 d-none d-lg-block">
      <div class="row mx-0 mb-3 d-flex flex-row">
        <div class="col-md-6 col-sm-12 px-1 mb-1" *ngFor="let item of newsItems; let i = index;">
          <div class="card">
            <img class="card-img-top flex-auto small-image" [src]="item.imageURL" [alt]="item.alt">
            <div class="card-body pt-1 pb-1">
              <h5 class="card-title mb-1 d-inline-block tex-center"> {{ item.title }} </h5>
              <div class="text-muted d-inline-block float-right"><small> {{ item.date }} </small></div>
              <p class="card-text mb-1" style="font-size: 14px">
                {{ item.text }}
                <a class="font-weight-bold" [routerLink]="item.url"> {{ item.button }} </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row mb-2 pt-1 mx-0">
  <div class="col-md-4 px-1">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <h3 class="mb-0"><a class="text-dark">Featured News</a></h3>
        <div class="mb-1 text-muted">Nov 12</div>
        <p class="card-text mb-auto">
          This is a wider card with supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#">Continue Reading</a>
      </div>
      <img class="card-img-right flex-auto d-none d-lg-block" style="width: 200px; height: 250px; object-fit: cover;" src="../../../assets/images/home3.JPG">
    </div>
  </div>
</div> -->
