<div class="container-fluid">
  <div class="row px-4 px-sm-5 px-md-0 d-flex flex-row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-3 px-1 text-center" *ngFor="let item of subNavItems; let i = index;">
      <div class="card flex-md-row my-color shadow">
        <div class="card-body d-flex flex-column">
          <h6><a [routerLink]="item.uRL"> {{ item.title }} </a></h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-4 py-md-5 px-2 px-sm-4 justify-content-center">
    <div class="col-sm-12 col-md-7 px-1 px-md-3">
      <h5 class="text-center pb-2"> {{ mainTitle }} </h5>
      <p class="text-justify"> {{ consutancyGoal }} </p>
    </div>
    <div class="col-sm-12 col-md-4 px-1 px-md-3">
      <h5> {{ quickLinksTitle }} </h5>
      <ul class="list-unstyled pt-3">
        <li *ngFor="let item of quickLinks; let i = index;">
          <a [routerLink]="item.url"><h6 class="lg-h6"> {{ item.title }} </h6></a>
          <hr class="mt-3 mb-3" *ngIf="i != quickLinks.length - 1">
        </li>
      </ul>
    </div>
  </div>
</div>
<hr class="mt-0 mb-0">
