<div class="container">
  <div class="row md-0 mx-0 d-flex flex-row justify-content-center">
    <div class="col-sm-12 col-md-4 px-1 text-center" *ngFor="let item of subNavItems; let i = index;">
      <div class="card flex-md-row my-color shadow">
        <div class="card-body d-flex flex-column">
          <h6><a [routerLink]="item.uRL"> {{ item.title }} </a></h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row pt-4 pb-4 justify-content-center">
  <div class="col-sm-12 col-md-7 mx-3">
    <h5 class="text-center"> {{ mainTitle }} </h5>
    <p class="text-justify"> {{ consutancyGoal }} </p>
  </div>
  <div class="col-sm-12 col-md-3 mx-3">
    <h5> {{ quickLinksTitle }} </h5>
    <ul class="list-unstyled pt-3">
      <li *ngFor="let item of quickLinksItems; let i = index;">
        <a [routerLink]="item.uRL"><h6 class="lg-h6"> {{ item.title }} </h6></a>
        <hr class="mt-3 mb-3" *ngIf="i != quickLinksItems.length - 1">
      </li>
    </ul>
  </div>
</div>
<hr class="mt-0 mb-0">
