.carousel .carousel-item {
  height: 300px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .carousel .carousel-item, .carousel-item img {
    height: 500px;
  }
}

@media only screen and (min-width: 768px) {
  .carousel .carousel-item, .carousel-item img {
    height: 600px;
  }
}
