.my-color {
  background: #425778;
  color: white;
}

h4 a {
  color: white;
  transition-duration: 0.2s
}

h4 a:hover {
  color: #FA944B;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}
