<div class="row pb-2 pb-md-3 pt-2 pt-md-5 justify-content-center">
  <h4>Success Stories</h4>
</div>

<div id="stories-carousel" class="carousel slide d-md-none" data-ride="carousel" data-interval="false">

  <div class="carousel-inner py-1">
    <div class="carousel-item" *ngFor="let item of successStories; let i = index; let isFirst = first" [ngClass]="{active:isFirst}">
      <div class="card shadow-sm mb-2">
        <img class="card-img-top mb-0" [src]="item.imgURL" [alt]="item.alt">
        <div class="card-body pt-1 px-2">
          <h5 class="card-title mb-0 d-inline-block"> {{ item.title | shorten:35 }} </h5>
          <div class="text-muted d-inline-block float-right">
            <small> {{ item.date | date:'MMM' | uppercase }} {{ item.date | date:'dd' }} </small>
          </div>
          <p class="card-text mb-3"> {{ item.content | shorten:145 }} </p>
          <a class="btn btn-primary" routerLink="/news-events">Read More</a>
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#stories-carousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#stories-carousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>


<div id="multi-item-example" class="carousel slide carousel-multi-item d-none d-md-block" data-interval="false" data-ride="carousel">

  <a class="carousel-control-prev" href="#multi-item-example" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#multi-item-example" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

  <div class="carousel-inner py-3" role="listbox">
    <div class="carousel-item active">
      <div class="col-md-3 px-1" style="float:left" *ngFor="let item of successStories">
       <div class="card shadow-sm mb-2">
          <img class="card-img-top mb-0" [src]="item.imgURL" [alt]="item.alt">
          <div class="card-body pt-1">
            <h6 class="card-title mb-0 d-inline-block"> {{ item.title | shorten:35 }} </h6>
            <div class="text-muted d-inline-block float-right">
              <small> {{ item.date | date:'MMM' | uppercase }} {{ item.date | date:'dd'}} </small>
            </div>
            <p class="card-text mb-3"> {{ item.content | shorten:140 }} </p>
            <a class="btn btn-primary" routerLink="/news-events"> Read More </a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="col-md-3 px-1" style="float:left" *ngFor="let item of successStories">
        <div class="card shadow-sm mb-2">
           <img class="card-img-top mb-0" [src]="item.imgURL" [alt]="item.alt">
           <div class="card-body pt-1">
             <h6 class="card-title mb-0 d-inline-block"> {{ item.title | shorten:35 }} </h6>
             <div class="text-muted d-inline-block float-right">
               <small> {{ item.date | date:'MMM' | uppercase }} {{ item.date | date:'dd' }} </small>
              </div>
             <p class="card-text mb-3"> {{ item.content | shorten:140  }} </p>
             <a class="btn btn-primary" routerLink="/news-events">Read More</a>
           </div>
         </div>
       </div>
    </div>
  </div>
</div>
