.carousel {
  width: 90vw;
  margin: auto;
}

div.carousel-item img {
  object-fit: cover;
  height: 200px;
}

a.btn {
  background-color: #425778;
  border-color: #425778;
  color: white;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  div.carousel-item img {
    height: 350px;
  }
}

@media only screen and (min-width: 768px) {
  .carousel {
    width: 95vw;
  }

  div.carousel-item img {
    height: 240px;
  }

  h4 {
    font-size: 28px;
  }
}
